
<%= simple_form_for [post, comment] do |f| %>
  <div class="form-group">
    <div class="form-control" id="comment">
      <%= f.input :body, input_html: { class: "textarea mb-2"}, wrapper: false, label: false, placeholder: "Leave a comment..." %>
      <%= f.submit "Submit comment", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
