<h1> Add New Friends! </h1>

<div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">
        <% @users.each do |user| %>
            <div class="card mb-1">
                <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><%= user.name %></h5>
                        <p class="card-text"><%= user.email %></p>
                        <button type="button" class="btn btn-primary">Add Friend</button>
                        <%= link_to "View Profile", user, class: "btn btn-primary"%>
                    </div>
            </div>
        <% end %>
    </div>
</div>

