<div class="container">
  <div class="row">
    <div class="col text-center">
        <%= render 'profile' %>
    </div>
    
    <div class="col-6">
        <div class="row mb-3">
        <% if current_user == @user %>
          <%= render 'posts/form', post: @post %>
        <% end %>
        </div>

        <div class="row"> 
          <%= render 'posts/feed', posts: @posts %>
        </div>
    </div>

    <div class="col text-center">
        <% render 'notifications' %>
    </div>
  </div>
</div>

<p id="notice"><%= notice %></p>