<div class="container col-md">

<div class="list-group">
    <ul class="list-group"> 
        <li class="list-group-item list-group-item-secondary"><h3> About Railsbook </h3> </li>
        <li class="list-group-item">
            <p><i>Railsbook</i> is a social network website made as an exercise in Web Development.</p>
            <p>This exercise was the final project in
            <%= link_to "The Odin Project's", "https://www.theodinproject.com/courses/ruby-on-rails/lessons/final-project"%>
                Ruby on Rails course. </p>
        </li>
    </ul>
</div>

<div class="list-group">
    <ul class="list-group">
        <li class="list-group-item list-group-item-secondary"> <h3>Features</h3> </li>
        <li class="list-group-item">Text Posting</li>
        <li class="list-group-item">Uploading a profile picture </li>
        <li class="list-group-item">Adding and accepting friends</li>
        <li class="list-group-item">Timeline feed</li>
        <li class="list-group-item">Single sign on with Facebook</li>
    </ul>
</div>

<div class="list-group">
    <ul class="list-group">
    <li class="list-group-item list-group-item-secondary"><h3>Tech Stack</h3>
    <p> This app runs on the following stack: </p> </li>
        <li class="list-group-item">Ruby</li>
        <li class="list-group-item">Rails</li>
        <li class="list-group-item">Bootstrap</li>
        <li class="list-group-item">PostgreSQL</li>
        <li class="list-group-item"> This app is currently hosted on Heroku</li>
    </ul>
</div>
<div class="list-group">
    <ul class="list-group">
        <li class="list-group-item active"><h3>Developer</h3> </li>
        <li class="list-group-item"><p>This site was developed by <%=link_to "Saul Belisle", "twitter.com/saul_good_homie"%>,
        you can view the code on my 
        <%=link_to "Github Profile", "https://github.com/Saul-Good-Homie"%>.</p> </li>
    </ul>
</div>

<div class="list-group">
    <ul class="list-group">
        <li class="list-group-item list-group-item-secondary"><h3>Privacy Policy</h3> </li>
        <li class="list-group-item"><p>This site is a practice web app, I do not collect, store or sell any personal information.
        The sign-on with facebook feature only has access to your email address. </p> </li>
    </ul>
</div>

</div>