<div class="card" style="width: 18rem;">
    <div class="card-header">
        Find New Friends
    </div>
    <ul class="list-group list-group-flush text-left">
        <li class="list-group-item">Pat Mahomes</li>
        <li class="list-group-item">Lamar Jackson </li>
        <li class="list-group-item">Russel Wilson</li>
        <%=link_to "View All", users_path, class: "list-group-item" %>
    </ul>
</div>