<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>
  <div class= "form-group">
    <div class="form-control">
      <%= f.input :post, label: "What's on your mind?", input_html: { class: "textarea "}, wrapper: false, label_html: {class: "label"}, placeholder: "Compose a new Post...", autofocus: true %>
    </div>
    <%= f.button :submit, class: "button btn-primary" %>
  </div>
  
  <% end %>
