  <%= simple_form_for(@post) do |f| %>
    <%= f.error_notification %>
      <%= f.input :post, label: false, input_html: { class: "textarea"}, wrapper: false, label_html: {class: "label"}, placeholder: "What's on your mind, #{current_user.name}?", autofocus: true %>
      <div class= "mb-2"> </div>
      <%= f.button :submit, class: "btn btn-primary" %>  
  <% end %>
