
<div class="card mb-3" style="max-width: 560px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="https://bulma.io/images/placeholders/64x64.png">
        </div>
        
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%=current_user.name%></h5>
                <p class="card-text">Posts: <small class="text-muted"><%= current_user.posts.count%></small></p> 
                <p class="card-text">Friends: <small class="text-muted"><%= 267%></small></p> 
            </div>
        </div>
    </div>
</div>


